html {
    height : 100%;
    width : 100%;
    font-family: 'Helvetica','Arial','Hiragino Sans',sans-serif;
    background-color: black;
}

header h1 {
    color : white;
    font-size: 3rem;
    margin: 6px;
    margin-top: 11px;

    text-decoration: underline cadetblue;
}

.flexdix {
    margin: 5px;
    margin-top: 10px;
}

.flexdix, .flexdix > * {
    display : flex;
    justify-content: space-around;
    width : 100%;
}

input[type="checkbox"] {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;

    display: none;
}

label{
    font-weight: bolder;
    position:relative;
    display:inline-block;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    cursor:pointer;

    width : 16%;
    border-radius:5px;
    background-color: gray;
    color: lightslategray;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4) inset;
    transition:0.3s;
}

input[type="checkbox"]:checked + label {
    background:#3cb371;
    color:#fff;
}

#chartdiv {
    position: relative;
    background-color: rgb(25, 25, 25);
    border-radius: 5px;
    margin : 5px;
    margin-top : 20px;
}