@charset "utf-8";
nav td:nth-of-type(1) {
    pointer-events: none;
    background-color: gray;
    color : lightslategray;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4) inset;
}
header h1::first-letter {
    color: cadetblue;
}
header h1 {
    text-decoration:  underline cadetblue;
}

/* IMAGE */
#contents_table tr:nth-of-type(1) img {
    width : 100%;
    height : auto;
}

/* TEXT */
.subcontents td {
    display: flex;
    padding : 3px;

    border-bottom: 2px solid lightgray;
    border-radius: 0px;
}
.subcontents td span:nth-of-type(1) {
    font-weight: bold;
    color: gainsboro;
}
.subcontents td span:nth-of-type(2) {
    margin-left:auto;
}

/* CONT */
aside > div {
    width : 100%;
    max-height : 0px;
    overflow: hidden;
    text-align: center;

    background-color: rgb(25, 25, 25);
    border-radius: 5px;

	/* Set our transitions up. */
	-webkit-transition: max-height 0.8s;
	-moz-transition: max-height 0.8s;
	transition: max-height 0.8s;
}

aside > div div {
    display : flex;
    margin : 1%;
}
aside > div div img {
    max-height : 220px;
    max-width : 17%;
    margin : auto;
}

aside > div:target {
    max-height : 250px;
}