@charset "utf-8";
/* TEST CODE */
table {
    border : 1px solid gray;
}
 td {
    border : 1px dotted gray;
}

* {
    margin : 0px;
    padding : 0px;
}
body {
    height : 100%;
    padding : 5px;
}
table {
    height : 90%;
    width : 100%;
    border-collapse: collapse;
    box-sizing: border-box;
    table-layout: fixed;
}

#nav_table td {
    height : 100%;
    width : 20%;
    text-align: center;
}


#contents_table {
    position: relative;
    width : 100%;
    overflow: hidden;
}
#subcont_tr td:nth-child(2) {
    display : inline-block;
    max-height : 250px;
    width : 100%;
}
#subcont_tr td img {
    position : absolute;
    top : 0px;
    left : 0px;
    max-height: 250px;
    max-width: 250px;
}
#subcont_table, #subcont_table *  {
    position : relative;
    display : inline-block;
    width : 100%;
}
#subcont_table td {
    height : 100px;
}