#drawContents * {
    color : black;
    background-color: rgba(100,100,255,0.05);
    border : 1px black dotted;

    padding : 5px;
}
#drawContents table {
    border-collapse: separate;
    empty-cells: show;
}

#drawContents *.selectedHTML {
    border : 2px red solid;
    background-color: palevioletred;
}
